[push]
	default = current
[core]
	whitespace = blank-at-eol,space-before-tab
	pager = /usr/bin/less
[merge]
	tool = meld
	conflictstyle = diff3
[alias]
	st = status
	co = checkout
	cm = commit
	unstage = reset HEAD --
	lg = log --oneline --decorate --graph --branches --remotes --tags
	l  = log --oneline --decorate --graph -10
	discard = checkout --
	uncommit = reset HEAD~1
	split-branch = "!f(){ git reset --keep HEAD~$1 && git checkout -t -b $2 && git cherry-pick ..HEAD@{2}; };f"
	upstream = "!git branch --set-upstream-to=\"origin/$(git symbolic-ref --short HEAD)\""
	fpush = push --force-with-lease

[pull]
	ff = only
